<h1><%= @link.name %></h1>

<h5>URL: <%= @link.url %></h5>
<p>Description: <%= @link.description %></p>


<p><a href="/links/<%= @link.id %>/edit">Update this Link</a></p>
<p><a href="/links/<%= @link.id %>"
			data-confirm="Are you sure you want to delete this link?"
			data-method="delete"
			rel='nofollow'>Delete this Link</a></p>

<p><a href="/">Return to Links Page</a></p>
